In [ ]:
# 创建方式

In [1]:
import numpy as np
import pandas as pd

In [3]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([6,7,8,9,10])
df = pd.DataFrame({"第一列":s1,"第二列":s2})
df

   第一列  第二列
0    1    6
1    2    7
2    3    8
3    4    9
4    5   10